.logo-bar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fbc165; 
    padding: 30px 10px;
    border: 1px solid #F7F7F7;
    width: 100%;
  }
  
  .logo {
    flex: 0 0 auto;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
    margin-right: 100px;
    font-size: 22px;
  }
  
  nav a {
    text-decoration: none;
    color: #000000; 
  }
  
  .user-actions {
    flex: 0 0 auto;
  }
  
  .user-actions a {
    text-decoration: none;
    color: #FFFFFF;
  }