.bodyNoMargin {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* Oculta el scroll vertical */
}

.pageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%; /* Asegúrate de ocupar toda la altura */
}

.formContainer {
  max-width: 500px;
  padding: 20px;
  text-align: center;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin-top: 100px; /* Ajusta según sea necesario */
}

.formContainer h1 {
  font-size: 2rem;
  color: #0070f3;
  margin-bottom: 15px;
}

.formContainer p {
  font-size: 1rem;
  color: #555;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.formGroup {
  margin-bottom: 10px;
  text-align: left;
}

.formGroup label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.formGroup input,
.formGroup textarea,
.formGroup select {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.formGroup textarea {
  resize: none;
}

.formGroup input:focus,
.formGroup textarea:focus,
.formGroup select:focus {
  border-color: #0070f3;
  box-shadow: 0 0 5px rgba(0, 112, 243, 0.5);
}

.fileLabel {
  background-color: #0070f3;
  color: white;
  padding: 8px;
  border-radius: 5px;
  display: inline-block;
  cursor: pointer;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
  width: 100%;
}

.formGroup input[type="file"] {
  display: none;
}

.submitButton {
  background-color: #0070f3;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  margin-top: 15px;
  font-size: 1rem;
}

.submitButton:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.submitButton:hover:not(:disabled) {
  background-color: #005bb5;
  transform: scale(1.05);
}

.error {
  color: red;
  margin-top: 10px;
}

.navbar {
  width: 100%;
}
