.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  overflow-y: auto;
  height: 100vh;
  background-color: #f4f4f9;
}

.title {
  font-size: 2.5rem;
  padding-top: 150px;
  margin-bottom: 50px;
  color: #333;
}

.tabs {
  margin-bottom: 40px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.historialContainer {
  width: 100%;
  max-width: 1200px;
}

.historialItem {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s, box-shadow 0.3s;
  height: 100%; /* Asegura que todas las tarjetas tengan la misma altura */
}

.historialItem:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.trabajoImage {
  width: 150px; /* Aumenta el tamaño de la imagen */
  height: 150px; /* Aumenta el tamaño de la imagen */
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}

.historialDetails {
  width: 100%;
  text-align: center;
}

.historialDetails h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #333;
}

.historialDetails p {
  margin-bottom: 5px;
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.clienteImageWrapper {
  text-align: center;
  margin-bottom: 20px;
}

.clienteImage {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.dialogContent {
  text-align: center;
}

.dialogActions {
  display: flex;
  justify-content: center;
}
