.container {
  text-align: center;
  padding-top: 50px;
}

.title {
  font-size: 45px;
  margin-bottom: 20px;
  padding-top: 80px;
}

.tabsContainer {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.trabajosContainer {
  padding: 20px;
  display: flex;
  flex-wrap: nowrap;  /* Ajusta para no envolver elementos */
  overflow-x: auto;  /* Permite el desplazamiento horizontal */
  align-items: center;
  margin-bottom: 10px; 
}

.trabajoItem {
  min-width: 300px; /* Ajusta según sea necesario */
  margin: 0 10px; /* Espaciado entre elementos */
}

.pagination {
  margin-top: 30px; 
  display: flex;
  justify-content: center;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.noTrabajosMessage {
  margin-top: 100px;
  margin-left: 800px;
  padding: 20px;
  font-size: 16px;
  color: #555;
  text-align: center;
}

.freelancerInfoContainer {
  margin-top: 30px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #fff;
  text-align: left;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.freelancerImageWrapper {
  text-align: center;
  margin-bottom: 20px;
}

.freelancerImage {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
}
