.title {
  text-align: center;
  margin-top: 50px; /* Reducir el margen superior */
  font-size: 24px;
}

.filterContainer {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formControl {
  min-width: 200px;
}

.trabajosContainer {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px; /* Añadir margen inferior */
}

.gridItem {
  margin-bottom: 20px;
}

.paginationContainer {
  margin-top: 30px; /* Aumentar margen superior */
  display: flex;
  justify-content: center;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 600px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}
