.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.perfilContainer {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    margin-top: 50px;
    text-align: center;
}

.perfilImage {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
    object-fit: cover;
}

.perfilDetails {
    margin-bottom: 20px;
}

.buttonGroup {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.editForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 100%;
}

.editForm input,
.editForm .MuiFormControl-root {
    width: 100%;
    max-width: 300px;
}

.editForm .MuiFormControl-root {
    display: flex;
    flex-direction: column;
}

.buttonGlobal {
    width: 100%;
    margin: 10px 0;
    max-width: 300px;
}
