.container {
  display: flex;
  justify-content: center; /* Centrar el contenido horizontalmente */
  align-items: center;    /* Centrar el contenido verticalmente */
  height: 100vh;          /* Usar toda la altura de la ventana */
}

.perfilContainer {
  max-width: 600px;
  width: 100%;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  text-align: center;
  background-color: #fff; /* Fondo blanco para contraste */
  border-radius: 10px;    /* Bordes redondeados */
}

.perfilImage {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
  object-fit: cover;     /* Ajustar la imagen al contenedor */
}

.perfilDetails {
  margin-bottom: 20px;
}

.fullWidthButton {
  width: 100%;
  margin-top: 20px;
}

.uploadButton {
  margin-top: 20px;
}
