.bodyNoMargin {
  margin: 0;
  padding-top: 100px; /* Ajustar según la altura de la barra de navegación */
  background-color: #f4f4f9;
  height: 100vh; /* Asegúrate de ocupar toda la altura */
}

.pageContainer {
  padding: 20px;
}

.subtitle {
  font-size: 45px;
  text-align: center;
  margin-bottom: 40px;
  padding-top: 20px;
  font-weight: bold;
  color: #333;
}

.filterContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.filtroButton {
  margin: 0 0.5rem;
  padding: 0.5rem 1rem;
  background-color: #f8f9fa;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.filtroButton:hover {
  background-color: #e2e6ea;
  transform: scale(1.05);
}

.filtroButton.active {
  background-color: #007bff;
  color: #fff;
}

.propuestasWrapper {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.propuestaCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.propuestaCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.cardHeader {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.freelancerImage {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.cardBody {
  text-align: left;
  width: 100%;
}

.cardFooter {
  text-align: left;
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.cardFooter Button {
  margin: 5px;
}

.centerText {
  text-align: center;
}

.inlineText {
  display: inline-block;
  margin-right: 10px;
}
