.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  overflow-y: auto; /* Permite el scroll vertical */
  height: 100vh; /* Ajusta la altura del contenedor para ocupar toda la pantalla */
  background-color: #f4f4f9; /* Fondo claro para un mejor contraste */
}

.title {
  font-size: 2.5rem;
  padding-top: 70px;
  margin-bottom: 30px;
  color: #333; /* Color de texto oscuro para el título */
}

.tabs {
  margin-bottom: 40px;
  background-color: #fff; /* Fondo blanco para las pestañas */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

.propuestasWrapper {
  width: 100%;
  max-width: 1200px;
  margin: 40px auto; /* Margen superior aumentado para bajar los trabajos */
  text-align: center;
}

.propuestaItem {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 10px; /* Añade margen para separar los contenedores */
}

.trabajoImage {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}

.trabajoTitle {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.trabajoDescription, .trabajoUbicacion, .trabajoPresupuesto, .trabajoDisponibilidad, .trabajoEstado {
  margin-bottom: 5px;
}

.contactButton, .cancelButton {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
}

.cancelButton {
  background-color: #f44336;
}

.contactButton:hover {
  background-color: #0056b3;
}

.cancelButton:hover {
  background-color: #d32f2f;
}

.noPostulationsMessage {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #e3f2fd; /* Fondo azul claro */
  color: #0d47a1; /* Texto azul oscuro */
  border: 1px solid #bbdefb; /* Borde azul claro */
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
}
